*{
    margin: 0;
    padding:0;
}

body{
    background-color: #34adff;
    background-image: -webkit-linear-gradient(45deg,#7c7e70 50%, #323333 50%);
    min-height: 800px;
}

#game{
    height: 500px;
    width: 390px;
    border: 1px solid black;
    margin: 1rem auto;
    background-image: url(road.png);
    background-size: contain; 
    overflow: hidden;
} 

#bluecar{
    height: 100px;
    width: 130px;
    
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
   animation: move 1s linear infinite;
}

#bluecar img{
    height: 100px;
}

@keyframes move {
    0%{
        top: 0px;
    } 100% {
        top: 501px;
    }
    
}

#redcar{
    height: 100px;
    width: 130px;
  
    position: relative; 
    top: 150px;
    left: 125px;
    text-align: center;
    animation: move 1s linear infinite;
}

#redcar img{
    height: 115px;
}

#result{
    height: 100px;
    width: 300px;
    background-color: rgb(79, 84, 65);
    margin: 1 rem auto;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    color: white;
    margin: auto;
    display: none;
}

#score{
    font-size: 2.2 rem;
    color: red;
}

#btn{
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: cyan;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
}
